body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

main {
  padding: 0 5% 20px 5%;
  padding-right: 0;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-start;
}

button {
  background-color: powderblue;
  border-radius: 7px;
  text-transform: uppercase;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  border: 3px solid purple;
  box-shadow: 0 0 5px 2px blueviolet;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-left: 1px solid purple;
}

th {
  background-color: mediumturquoise;
  color: blue;
}

tbody tr:nth-child(odd) {
  background-color: rgb(46, 46, 46);
}