.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 344px;
}

.controlsBtn {
  width: 82px;
}

.controlsBtn:last-child {
  width: 140px;
}

.title {
  margin: 0;
  margin-top: 10px;
}

.paginationBtn {
  margin-left: 20px;
}

.tracksContainer {
  position: relative;
  width: 90vw;
  min-height: 120px;
}
